* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}

.banner {

    width: 1200px;
    height: 200px;
    
}

.headings {
    font-weight: bold;
    color: green;
    font-style: italic;
}

.descriptions {
    font-size: 10px;
    font-style: italic;
    color: red;
}